log
chroot
backups
pkgs
pkgs.old
alt_pkgs
provides
deps
alternatives

*/*.tar.gz
*/*.tar.xz
*/*.tar.xz.asc
*/*.src.tar.sig
*/*.src.tar

*/.SRCINFO

libglvnd-git/libglvnd
llvm-git/llvm-project64
mesa-git/mesa
wayland-git/wayland
wayland-protocols-git/wayland-protocols
xf86-video-amdgpu-git/xf86-video-amdgpu-git
xf86-video-ati-git/xf86-video-ati
xorg-server-git/xserver
