log
chroots
backups
pkgs.*
alt_pkgs.*
provides.*
deps.*
alternatives.*
last_pkg.*
mem

*/*.tar.gz
*/*.tar.xz
*/*.tar.xz.asc
*/*.src.tar.sig
*/*.src.tar
*/*.tar.bz2
*/*.tar.bz2.asc

*/.SRCINFO

libglvnd-git-gentz/libglvnd-git-gentz/
llvm-git-gentz/llvm-project64
mesa-git-gentz/mesa
xf86-video-ati-git-gentz/xf86-video-ati
xorg-server-git-gentz/xserver
lib32-libedit-gentz/lib32-libedit-gentz
lib32-libomxil-bellagio-gentz/lib32-libomxil-bellagio-gentz
lib32-mpdecimal-gentz/lib32-mpdecimal-gentz
lib32-tk-gentz/lib32-tk-gentz
python-gentz/python-gentz64
python2-gentz/python2-gentz64
libx11-git-gentz/libx11
xf86-video-amdgpu-git-gentz/xf86-video-amdgpu-git-gentz/
firefox-nightly/*en-US.linux-x86_64.txt
wine-staging-git-gentz/wine
wine-staging-git-gentz/wine-staging
libdrm-git-gentz/libdrm

*/*.pkg.tar-namcap.log
*/*-build.log*
*/*-package*.log*
*/*-namcap.log*
*/*-prepare.log*
*/*-check.log*
*/*-pkgver.log*

makepkg.conf
